<body>
    <header>
        <img src="../../../assets/szegedlogo.png" alt="szegedlogo"><h1>Szeged BYD Akadémia</h1>
    </header>
    
    <main>
<span class="loading-indicator" *ngIf="loading">
    <mat-spinner>

    </mat-spinner>
</span>

<div class="main_component">
    <div class="div-flex">
        <h1 id="logh1">Jelentkezzen be</h1>
        <mat-form-field>
            <mat-label>Email:</mat-label>
            <input matInput type="text" [formControl]="email" />
        </mat-form-field>
        <mat-form-field>
            <mat-label>Password: </mat-label>
            <input matInput type="password" [formControl]="password" />
        </mat-form-field>
        <span>
            <span><button mat-raised-button color="primary" (click)="login()">Login</button></span>
            <span><button mat-raised-button color="primary" [routerLink]="'/regiszt'">Sign Up</button></span>
        </span>

    </div>
   
    
</div>
</main>
</body>