<body>
    

    <header>
        <img src="../../../assets/szegedlogo.png" alt="szegedlogo"><h1>Szeged BYD Akadémia</h1>
    </header>
  
  <div>
    <div id="szegedbydkapcsolat">
        <h1>Szeged és a BYD kapcsolata</h1>
        <p>Szeged és a BYD között megkötött új szerződés forradalmi lépést jelent a sportvilágban. Ennek az együttműködésnek az eredményeként létrejött egy teljesen új futballcsapat, amely a régió büszkeségévé válhat.
        </p>
        <p>Az új szerződés a Szegedi Sportakadémia és a BYD Corporation között létrejött együttműködésre vonatkozik, melynek hivatalos aláírására 2024 februárjában került sor.</p>
        <p>A Szeged-BYD Akadémia nem csupán a pályán fog jeleskedni, hanem a közösségépítés terén is kiemelkedő szerepet vállal majd. Úgy véljük, hogy ez az együttműködés új lendületet ad a sportnak és a város fejlődésének egyaránt, és izgatottan várjuk, hogy együtt formáljuk a jövőt.</p>
    
    </div>

    <h1 style="text-align: center;">A csapat tagjai</h1>
    <div id="jatekosok">
        <app-player-card ></app-player-card>
    </div>
    
  </div>
        
    
    
    <div id="klubbadatok">
        <h1>Klub Adatok</h1>
        <table>
            <tr>
                <td>
                    <ul>
                        <li><h3>Klub neve:</h3>
                            <ul class="belsolista">
                                <li>Szeged-BYD Futballklub</li>
                            </ul>
                        </li>
                        <li> <h3>Alapítás éve:</h3>
                            <ul class="belsolista">
                                <li>2024</li>
                            </ul>
                        </li>
                        <li> <h3>Alapítók:</h3>
                            <ul class="belsolista">
                                <li>Szegedi Sportakadémia és a BYD Corporation</li>
                            </ul>
                        </li>
                        <li> <h3>Székhely:</h3>
                            <ul class="belsolista">
                                <li>Szeged, Magyarország</li>
                            </ul>
                        </li>
                        <li> <h3>Hivatalos színek:</h3>
                            <ul class="belsolista">
                                <li>Szürke és a kék szín árnyalatai, amelyek a Szeged színeit is tükrözik.</li>
                            </ul>
                        </li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li> <h3>Mottónk:</h3>
                            <ul class="belsolista">
                                <li>&quot;Technológia és szenvedély a győzelemért.&quot;</li>
                            </ul>
                        </li>
                        <li> <h3>Szponzorok: </h3>
                            <ul class="belsolista">
                                <li>BYD - főszponzor, Telekom, MVM, PICK, TIPPMIX</li>
                            </ul>
                        </li>
                        <li> <h3>Liga:</h3>
                            <ul class="belsolista">
                                <li>A tervek szerint a II csapat kezdetben a vármegyei, az Első számú csapat pedig <a href="https://adatbank.mlsz.hu/league/61/0/27254/1.html" target="_blank"> OTP Bank Ligában</a> fog részt venni.</li>
                            </ul>
                        </li>
                        <li> <h3>Vezetőség:</h3>
                            <ul class="belsolista">
                                <li>A klub elnökségében a Szegedi Sportegyesület vezetői töltik be a pozicót. Vezetportigazgató: Kovács Imre.</li>
                            </ul>
                        </li>
                        <li> <h3>Címer:</h3>
                            <ul class="belsolista">
                                <li>A címer tervezésében a csapat marketing részlege vett részt.</li>
                            </ul>
                        </li>
                    </ul>
                </td>
            </tr>
        </table>
    </div>
    
    <footer>
        <div class="elerhetoseg">
            <h3>Elérhetőségeink:</h3>
            <p>Email: {{ email }}</p>
            <p>Telefonszám: {{ phone }}</p>
        </div>
        <div class="helycim">
            <h3>Pontos cím:</h3>
            <p>{{ address }}</p>
        </div>
        <div class="jogok">
            <p>&copy; 2024 Szeged BYD Akadémia. Minden jog fenntartva.</p>
            <p> Az oldalt készítette: {{ creators }}</p>
        </div>
    </footer>
</body>

    
    
